<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <title>Key Modifiers -enter, alt, ctrl, delete, space</title>
</head>
<body>
    
    <div id="my-app">
        Text1 <input type="text" @keypress="keypressFunctions"><br><br>
        Two-way data binding: <input type="text" v-model="text"><br>
       Reflect:  {{text}}

       <form action="">
        Name:<input type="text" name="name" v-model="name"> {{name}} <br><br><br>
        Email<input type="email" name="email" v-model="email"> {{email}}
       </form>
    </div>

    <script src="app.js"></script>
</body>
</html>